body{
    margin: 0;
    background-color: rgb(188, 236, 245);
}
#wrapper div,#wrapper h2{
    display: flex;
    justify-content: center;
}
h2{
    color:#f52dc3;
    letter-spacing: 1px;
}
input{
    border-radius: 5px;
    border: 2px solid rgb(228, 231, 38);
    margin-top: 50px;
    height: 2em;
    width: 250px;
    padding-left: 10px;
}
input:active{
    border: none;
}
#wrapper{
    height:300px;
    width: 400px;
    margin:100px auto;
    background-color: aliceblue; 
    border-radius: 10px;
    padding: 30px;
}
button{
    margin-top: 20px;
    background-color: #a7f5ff;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color:#0e56db;
}
button:hover{
    cursor: pointer;
}
#result{
    color: rgb(19, 18, 18);
    margin-top: 20px;
    font-size: 30px;
}